<section class="homepage-districts">
  <h3 class="homepage-districts-headline">
    Districts
  </h3>
  <ul class="homepage-districts-grid">
    {% for item in collections.districts | sortByTitle %}
    <li class="homepage-districts-item" {{ site.animation }}>
      <a class="homepage-districts-item-link" href="{{ item.url }}">
        <div class="image-shadow">
          <img src="/assets/images/districts/thumbnails/hamburg-{{ item.data.title | slugify }}-450px.jpg" class="homepage-districts-item-image" alt="#">
        </div>
        <h3 class="homepage-districts-item-headline">
          {{ item.data.title }}
        </h3>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
