<div class="image-shadow homepage-hero-container">
	<img 
		class="homepage-hero"
		sizes="(max-width: 1200px) 100vw, 1200px"
		srcset="/assets/images/core/homepage-hero-300.jpg 300w,
				/assets/images/core/homepage-hero-600.jpg 600w,
				/assets/images/core/homepage-hero-1200.jpg 1200w,
				/assets/images/core/homepage-hero.jpg 1800w"
		src="/assets/images/core/homepage-hero.jpg"
		alt="Feuerschiff"
/>
</div>
