<section id="introduction" class="homepage-introduction" {{ site.animation }}>
  <div class="wrap">
    <div>
      <div>
        <h3 class="homepage-introduction-headline">
          About
        </h3>
      </div>
      <div class="homepage-introduction-text">
        <p>
          After living in Hamburg for more than 10 years, and still only knowing a small part of the city, I decided in 2015 to explore every district completely.
        </p>
        <p>
          I travel with my camera and a map all 109 districts of Hamburg – as complete as possible, mostly by foot.
        </p>
      </div>
    </div>
  </div>
</section>
