{% set js %}
{% include "../assets/scripts/embedded/theme-switcher.js" %}
{% if site.isProduction %}
	{% include "../assets/scripts/embedded/register-serviceworker.js" %}
{% endif %}
{% endset %}
<script>
	{{ js | jsmin | safe }}
</script>
{% if site.isProduction %}
<script defer src="https://umami.kogakure.cloud/script.js" data-website-id="5be9515f-dab7-45c2-8bdb-e1c2bbfbacd6"></script>
{% endif %}
