---
layout: base
---

<section class="page-grid">
	{% include "page-header.njk" %}
	<main class="page-content">
		<h1 class="page-title">
			<a href="/" class="page-title-link">
				Exploring Hamburg
			</a>
		</h1>
		{{ content | safe }}
	</main>
	{% include "page-footer.njk" %}
</section>
